<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="DeDuplication" class="img-responsive text-center" src="modules/core/client/img/loaders/image1.jpg" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        The file level duplication method have enormous storage overhead and less efficiency.
        To overcome this problem, Authorised Duplicate System is developed to avoid the duplicate copies of data,
        which reduces space used for storage as well as data overhead in cloud storage.
        It also protects the confidentiality of sensitive data.
      </p>
    </div>
  </div>
</section>
